---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Arch Studio Website Challenge.">
  <!-- The Haeder -->
  <Header />
  <main></main>
</Layout>
