---
import "@/styles/globals.css";
---

<footer
  class="relative flex flex-col items-center justify-center md:flex-row md:justify-start xl:justify-center"
>
  <!-- LOGO -->
  <div class="absolute -top-16 md:static">
    <svg
      class="size-[7.5rem] xl:size-[12.5rem]"
      xmlns="http://www.w3.org/2000/svg"
      width="120"
      height="120"
      viewBox="0 0 120 120"
      fill="none"
    >
      <rect width="120" height="120" fill="#1B1D23"></rect>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M39.8903 68.9116L38.5271 72.6847H32L41.2536 49.9639H46.8718L56.1254 72.6847H49.5983L48.235 68.9116H39.8903ZM44.0627 58.1984L41.9558 63.5963H46.1695L44.0627 58.1984Z"
        fill="white"></path>
      <path
        d="M59.3202 72.6844V65.7717C59.3202 65.3036 59.4533 64.8675 59.7195 64.4636C59.9858 64.0597 60.3369 63.7315 60.7729 63.479C61.209 63.2266 61.6703 63.1003 62.1568 63.1003C62.5424 63.1003 62.967 63.1784 63.4306 63.3344C63.8942 63.4905 64.2958 63.697 64.6355 63.9541L67.0315 59.1345C66.6367 58.8408 66.1364 58.6021 65.5305 58.4185C64.9247 58.2349 64.3509 58.1431 63.8093 58.1431C62.9739 58.1431 62.1637 58.3565 61.3788 58.7834C60.5939 59.2103 59.9077 59.8047 59.3202 60.5666V58.5837H53.5918V72.6844H59.3202Z"
        fill="white"></path>
      <path
        d="M70.7766 73.125C71.6855 73.125 72.5507 72.9988 73.3723 72.7463C74.1939 72.4939 74.8434 72.1978 75.3208 71.8582L73.4481 68.0025C73.2736 68.1219 73.0327 68.2297 72.7251 68.3261C72.4176 68.4225 72.0802 68.4707 71.713 68.4707C71.1163 68.4707 70.5976 68.3399 70.157 68.0783C69.7163 67.8166 69.379 67.4701 69.1449 67.0386C68.9108 66.6071 68.7937 66.139 68.7937 65.634C68.7937 65.2301 68.8924 64.8078 69.0898 64.3672C69.2872 63.9265 69.5993 63.5547 70.0262 63.2518C70.453 62.9489 71.0062 62.7974 71.6855 62.7974C72.4015 62.7974 72.9891 62.9534 73.4481 63.2656L75.3208 59.4099C74.8618 59.0611 74.21 58.7627 73.3654 58.5149C72.5209 58.267 71.6488 58.1431 70.7491 58.1431C69.6016 58.1431 68.539 58.3519 67.5613 58.7696C66.5836 59.1873 65.7345 59.7519 65.0138 60.4633C64.2932 61.1748 63.7332 61.9781 63.3339 62.8731C62.9345 63.7682 62.7349 64.6931 62.7349 65.6478C62.7349 66.6668 62.9483 67.6284 63.3752 68.5327C63.8021 69.4369 64.3873 70.2333 65.1309 70.9218C65.8745 71.6103 66.7305 72.1496 67.699 72.5398C68.6675 72.9299 69.6934 73.125 70.7766 73.125Z"
        fill="white"></path>
      <path
        d="M79.6449 72.6847V64.9183C79.6449 64.441 79.7413 64.0279 79.9341 63.679C80.1269 63.3302 80.3977 63.0594 80.7465 62.8666C81.0954 62.6738 81.4993 62.5774 81.9583 62.5774C82.656 62.5774 83.216 62.7908 83.6383 63.2177C84.0605 63.6446 84.2717 64.2115 84.2717 64.9183V72.6847H90.0001V63.679C90.0001 62.6233 89.7522 61.68 89.2565 60.8492C88.7608 60.0184 88.0883 59.3598 87.2392 58.8732C86.39 58.3867 85.4284 58.1434 84.3543 58.1434C83.5097 58.1434 82.6766 58.2972 81.855 58.6047C81.0334 58.9122 80.2967 59.346 79.6449 59.906V49H73.9165V72.6847H79.6449Z"
        fill="white"></path>
    </svg>
  </div>
  <!-- Nav Links -->
  <nav
    class="xl:items-cente flex h-[23.9375rem] w-[23.4375rem] items-center justify-center bg-[#EEEFF4] md:h-[7.5rem] md:w-[31rem] md:items-center md:justify-start xl:h-[12.5rem] xl:w-[49rem]"
  >
    <ul
      class="flex flex-col items-center justify-center gap-8 md:ml-10 md:flex-row md:gap-[3.81rem] xl:ml-[5.31rem]"
    >
      <li>
        <a
          href=""
          class="cursor-pointer text-lg font-bold leading-[1.5625rem] text-[#7D828F] transition-colors duration-300 ease-in hover:text-[#1B1D23]"
          >Portfolio</a
        >
      </li>
      <li>
        <a
          href=""
          class="cursor-pointer text-lg font-bold leading-[1.5625rem] text-[#7D828F] transition-colors duration-300 ease-in hover:text-[#1B1D23]"
          >About Us</a
        >
      </li>
      <li>
        <a
          href=""
          class="cursor-pointer text-lg font-bold leading-[1.5625rem] text-[#7D828F] transition-colors duration-300 ease-in hover:text-[#1B1D23]"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
  <!-- LINK TO THE Portfolio -->
  <div class="absolute bottom-4 md:right-0 xl:bottom-16 xl:right-[7.5rem]">
    <a
      href="/portfolio"
      class="flex h-[4.5rem] w-[15.75rem] cursor-pointer items-center justify-center gap-6 bg-[#1B1D23] text-lg font-bold leading-[1.5625rem] text-white transition-colors duration-300 ease-in hover:bg-[#60636D]"
      >See Our Portfolio
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="20"
        ><g fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="2"
          ><path d="M15 1l9 9-9 9M0 10h24"></path></g
        ></svg
      >
    </a>
  </div>
</footer>
